<div>
    <h1>{{stock?.name}}</h1>
</div>
<div>
    <table>
        <thead>
            <tr>
                <th>Time</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Volume</th>
            </tr>
        </thead>
        <tbody>
            @for (stockTimeSeries of stock?.stockTimeSeries; track $index) {
                <tr>
                    <td>{{stockTimeSeries.timestamp}}</td>
                    <td>{{stockTimeSeries?.['1. open']}}</td>
                    <td>{{stockTimeSeries?.['2. high']}}</td>
                    <td>{{stockTimeSeries?.['3. low']}}</td>
                    <td>{{stockTimeSeries?.['4. close']}}</td>
                    <td>{{stockTimeSeries?.['5. volume']}}</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <button (click)="updateStocks()">Refresh</button>
</div>
